

               <a class="p-5 text-blue-500 underline tracking-wide " href="/"> Back To Home</a>
          

           

                            <div class="text-center font-bold font-mono text-balance capitalize text-3xl dark:text-white text-black w-[90%] focus:outline-none p-4 m-4 border border-slate-800/50 dark:border-black/20 ">
                                      
                                        <%= title %>
                            </div>

                             <form action="/realfilesedit" method="post" class="border-1 border-slate-800">

                                    <input name="oldtitle" type="text" class="text-black" value="<%= title %>" readonly>

                                     <input type="text" class="text-black" placeholder="Write new name here" name="edit_title">

                                     <button type="submit">Edit done</button>
                                        

                             </form>

                           
            

