<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>We made it </title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>

    <div class="dark:bg-slate-950 bg-white w-full min-h-screen dark:text-white text-black flex flex-col ">

               <a class="p-5 text-blue-500 underline tracking-wide " href="/"> Back To Home</a>
          

               <div class="card card w-[90%] flex flex-col items-center min-h-96  just left-1/2 sm:relative sm:-translate-x-1/2 bg-black m-5 dark:bg-slate-700 rounded-xl bg-white border border-slate-800/50 p-4">

                            <div class="bg-white text-center font-bold font-mono text-balance capitalize text-3xl dark:bg-slate-700 dark:text-white text-black w-[90%] focus:outline-none p-4 m-4 border border-slate-800/50 dark:border-black/20 ">
                                      
                                        <%= bodydata.title %>
                            </div>
                            <div class="bg-white text-xl capitalize text-center dark:bg-slate-700 dark:text-white text-black w-[90%] h-10 focus:outline-none p-4 m-4">
                                     <%= bodydata.data %>
                            </div>

               </div>



    </div>
     

    
</body>
</html>