<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Started here </title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css">
    
   
</head>
<body>
     

     <h2> <%= MArks +12 %> </h2>
     <h2> Hello how are you </h2>
    
</body>
</html>