

        <form action="/createuser" method="post" class="flex justify-center items-center flex-col">

               
               <p class="m-5 mt-10 text-2xl "> <span class="font-bold">Create </span> Your Account   </p>
              
               <input id="username" name="username" type="text" placeholder=" Enter The UserName " class="bg-white dark:bg-slate-700 dark:text-white text-black w-[90%] h-10 focus:outline-none p-4 m-4 sm:w-[50%] border border-slate-800/50 ">
               <input id="email" name="email" type="email" placeholder=" Enter The Email " class="bg-white dark:bg-slate-700 dark:text-white text-black w-[90%] h-10 focus:outline-none p-4 m-4 sm:w-[50%] border border-slate-800/50 ">
               <input id="password" name="password" type="password" placeholder=" Enter Password " class="bg-white dark:bg-slate-700 dark:text-white text-black w-[90%] h-10 focus:outline-none p-4 m-4 sm:w-[50%] border border-slate-800/50 "> 
               <input type="submit" id="create" class="bg-green-600 w-48 m-4 text-white hover:bg-green-700 p-2 rounded-sm">





              


       </form>

       
        